<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To Do List v2.0</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Hoy</a>
            </li>
            <li>
                <a href="/trabajo">Trabajo</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <h1>
            Lista de <%= title %>
        </h1>
    </div>