<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>To Do List</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Hoy</a>
            </li>
            <li>
                <a href="/work">Trabajo</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <% if (locals.day) { %>
            <h1>
                <%= day %>, <%= new Date().getDate() %> de <%= month %>
            </h1>
            <% } else { %>
                <h1>Lista del trabajo</h1>
                <% } %>
    </div>